@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');


:root {
  font-size: 16px;
}

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f9fc;
}

.main{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}


/* topNav */
.topNav {
  width: 100%;
  height: auto;
  position: fixed;
  box-shadow: 0 1px 10px #919191;
}

.topNav-nav {
  width: 100%;
  height: 50px;
  background: #dbedfc;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-direction: row;
}

.topNav-h1 {
  padding-left: 50px;
  height: auto;
  font-family: 'Karantina', cursive;
  font-size: 3rem;
  font-weight: bolder;
  color: #53b3f8;
  text-shadow: 1px 1px gray;
}

.topNav-ul {
  width: 35%;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: row;
  list-style-type: none;
  background: #dbedfc;
  padding: 0;
}

.topNav-a {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  background: #dbedfc;
  color: #6f8391;
  padding: 12px 2px;
}

.topNav-a:hover {
  transform: scale(1.1);
  color: #53b3f8;
  border-bottom: 2px solid #52616b;
}


/* SIDE NAVBAR */
#navbar {
  top: 50px;
  width: 270px;
  height: 100%;
  background-color: white;
  position: fixed;
  overflow: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sideNav-search {
  width: 100%;
  height: auto;
  padding: 10px 5px;
  margin: 30px 0;
  border: none;
  outline: none;
  font-size: 1rem;
  border-bottom: 1px solid #53b3f8;
}

.sideNav-head, .sideNav-ul {
  width: 80%;
  height: auto;
}

.sideNav-ul  {
  padding: 20px 40px;
}

.sideNav-head-a {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #52616b;
  text-decoration: none;
}

.sideNav-head-a:hover {
  color: #3490de;
}

.sideNav-li {
  list-style: none;
  padding: 6px 0 6px 0;
  border-left: 1px solid #a6bbc9;
}

.sideNav-a {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  color: #8e9da7;
  text-decoration: none;
  padding: 7px 0 7px 15px;
}

.sideNav-a:hover {
  color: #5da8dd;
  border-left: 1px solid #3490de;
}


/* MAIN DETAILS SECTIONS */
.main-details {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  height: auto;
  background: #f5f9fc;
  padding: 100px 0;
  padding-left: 315px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-head-section {
  width: 100%;
  height: auto;
  padding: 10px;
  scroll-margin-top: 100px;
}

.sec-h1 {
  font-size: 1.5rem;
  padding-bottom: 5px;
  font-weight: bolder;
  color: #5293cb;
}

.sec-h1-p, .sec-h2-p1, .sec-h2-p2, .sec-ul {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
}

.main-section {
  width: 90%;
  height: auto;
  border: 1px solid #bcc2ce;
  margin: 50px auto;
  display: block;
  padding: 50px;
}

.sec-h2 {
  font-size: 1.1rem;
  padding-bottom: 5px;
  font-weight: bolder;
  color: #176daa;
}

.sec-pre {
  height: auto;
  width: 90%;
  margin: 50px auto;
  display: block;
  background: #cedeec;
  overflow: auto;
}

.sec-ul {
  padding: 20px;
  margin-left: 50px;
}

/* MEDIA QUERYS */
/*  Tablets in landscape mode, older desktop monitors */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  :root {
    font-size: 15px;
  }

  .topNav-ul {
    width: 40%;
  }

  .topNav-a {
    padding: 13px 2px;
  }

  #navbar {
    width: 210px;
  }

  .main-details {
    padding-left: 245px;
  }
}

/*  Tablets in portrait mode, large display smartphones landscape mode */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    font-size: 12px;
  }

  .topNav-ul {
    width: 50%;
  }

  .topNav-a {
    padding: 15px 2px;
  }

  #navbar {
    width: 190px;
  }

  .main-details {
    padding: 80px 0;
    padding-left: 215px;
  }

  .main-section {
    margin: 35px auto;
    padding: 30px;
  }

  .main-head-section {
    scroll-margin-top: 70px;
  }

  .sec-pre {
    margin: 30px auto;
  }
}

/*  Smartphones in landscape mode */
@media screen and (min-width: 421px) and (max-width: 767px) {
  :root {
    font-size: 9px;
  }

  .topNav-h1 {
    padding-left: 20px;
  }

  .topNav-ul {
    width: 60%;
  }

  .topNav-a {
    padding: 17px 2px;
  }

  #navbar {
    width: 115px;
    padding: 0 10px;
  }

  .sideNav-ul {
    padding: 10px 20px;
  }
  
  .sideNav-head, .sideNav-ul {
    width: 95%;
  }
  
  .main-details {
    padding: 65px 0;
    padding-left: 135px;
  }

  .main-section {
    margin: 15px auto;
    padding: 15px;
  }

  .main-head-section {
    scroll-margin-top: 60px;
  }

  .sec-pre {
    margin: 20px auto;
  }
}

/*  Smartphones in portrait mode  */
@media screen and (max-width: 420px) {
  :root {
    font-size: 9px;
  }
  
  .topNav-h1 {
    padding-left: 20px;
  }
  
  .topNav-ul {
    width: 45%;
  }
  
  .topNav-a {
    padding: 17px 2px;
  }
  
  #navbar {
    width: 115px;
    padding: 0 10px;
  }
  
  .sideNav-ul {
    padding: 10px 20px;
  }
  
  .sideNav-head, .sideNav-ul {
    width: 95%;
  }
  
  .main-details {
    padding: 65px 0;
    padding-left: 135px;
  }

  .main-head-section {
    scroll-margin-top: 60px;
  }

  .main-section {
    margin: 15px auto;
    padding: 15px;
  }

  .sec-pre {
    margin: 20px auto;
  }
}